
html,
body{
	padding: 1em;
	background: #333;
	font-family: Helvetica;	
}

svg{
	margin-top: 1em;
	background: #333;
	border-top: 1px solid #f1c40f;
	text-align: center;
	margin: 0 auto;
}


p, a{
	color: #ecf0f1!important;
}

text, 
.tick text{
	fill:  #ecf0f1!important;
}

p, 
text{
	font-size: 1em!important;
}

.axis path,
.axis line {
    fill: none;
    stroke: #ecf0f1;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

#Sun,
.axis .tick:first-child{
	display: none!important;
}


@media only screen and (max-width : 400px){
	text{
		font-size: 0.75em !important;
	}	
}
